@using BlogProject.Core.Entity.Enum;
@model List<User>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<div class="card">
    <div class="card-header">
        <div class="card-title"> Kullanıcılar </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Soyadı</th>
                    <th scope="col">Email Adresi</th>
                    <th scope="col">Role</th>
                    <th scope="col">Durumu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User item in Model)
                {
                    <tr>

                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.UserRole.ToString()</td>
                        <td>
                            @if (item.Status == Status.Active)
                            {
                                <span class="bg-success text-white">Aktif</span>
                            }
                            else if (item.Status == Status.None)
                            {
                                <span>Onay Bekliyor</span>
                            }
                            else if (item.Status == Status.Updated)
                            {
                                <span class="bg-warning text-white">Güncellendi</span>
                            }
                            else if (item.Status == Status.Deleted)
                            {
                                <span class="bg-danger text-white">Silindi</span>
                            }


                        </td>
                        <td>
                            @if (item.Status == Status.None || item.Status == Status.Deleted)
                            {
                                <a asp-action="Activate" asp-controller="User" asp-area="Administrator" asp-route-id="@item.ID" class="btn btn-success text-white">
                                    <i class="fas fa-check"></i>
                                    Aktifleştir
                                </a>
                            }
                            else
                            {

                                <a asp-action="Delete" asp-controller="User" asp-area="Administrator" asp-route-id="@item.ID" class="btn btn-danger text-white">
                                    <i class="la la-trash"></i>

                                </a>
                            }
                            @if (item.UserRole == UserRole.Yazar)
                            {

                                <a asp-action="SetAdmin" asp-controller="User" asp-area="Administrator" asp-route-id="@item.ID" class="btn btn-danger text-white">
                                    <i class="la la-update"></i>
                                    Admin Yap
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>